<!DOCTYPE html>
<html>
<head>


<style type="text/css">

</style>
</head>

<body align = "center">
<h1>实时天气查询</h1>
<hr/>
<table align = "center">

<tr>
<p>请输入您要查询的城市</p>	
</tr>

<tr>
<td>
<form action="/" method = "post">
<input type="text" name="InputCity">
<input type="submit" name="query" value="查询">
<input type="submit" name="update" value="更正">
</form>
</td>


<td>
<form action="/" method = "get" >
<input type="submit" name="history" value="历史">
<input type="submit" name="help" value="帮助" >
</form>
</td>

</tr>

</table>
<br><br>

{% for k in result %}
<p>{{k}}</p>
{% endfor %}

</body>
</html>